.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    padding: 20px;
  }
  
  .grid-image {
    width: 100%;
    height: calc(100vh / 3);
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .grid-image:hover{
    cursor: grab;
  }
  
  .grid-component {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    height: calc(100vh / 3);
  }

  .grid-component:hover{
    cursor: grab;
  }

  #id-grid-item-3 {
    font-family: 'Pacifico', cursive !important;
    background-color: rgb(252, 205, 214);
    color: purple;
    font-size: 3em;
    font-weight: 600;
  }

  #id-grid-item-1 {
    background-image: url('../assets/bkgrd6.webp');
  }

  #id-grid-item-7 {
    background-image: url('../assets/bkgrd5.webp');
  }

  #id-grid-item-9 {
    /* font-family: 'Pacifico', cursive !important; */
    background-image: url('../assets/bkgrd4.webp');
  }