html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-navbar {
  width: 100%;
  padding: 1rem;
  background-color: #2c3e50; /* Dark background */
  color: white;
  position: relative; /* Normal flow */
}

.board-navbar {
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: fixed;
  top: 50px; /* Adjust this based on the height of the app-navbar */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
